# Python - archivos compilados
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Variables de entorno / información sensible
.env
.env.*

# Archivos de configuración de algunos IDEs
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp

# Archivos del sistema operativo
.DS_Store
Thumbs.db